<div class="job_search">
	<form action="/jobs/results" method="get">
		  Job Title: <input type="text" name="job_title" placeholder='<%= @job_title %>'>
		  Company Name: <input type="text" name="company_name" placeholder='<%= @company_name %>'>
		  Location: <input type="text" name="location" placeholder='<%= @location %>'>
		  <input type="submit" name="submit" value="Submit Form">
	</form>

	
</div>

<div class="recruiter_link">
	<%= link_to "_________________", recruiter_url %>
</div>



<%#= @job_title%>
<%#= @company_name %>
<%#= @location %>


