<div class="job_search">
	<form action="/jobs/results" method="get">
		  Job Title: <input type="text" name="job_title" placeholder='<%= @job_title %>'>
		  Company Name: <input type="text" name="company_name" placeholder='<%= @company_name %>'>
		  Location: <input type="text" name="location" placeholder='<%= @location %>'>
		  <input type="submit" name="submit" value="Submit Form">
	</form>
</div>


<p><%= link_to "I am a recruiter", recruiter_url %></p>
<%#= @job_title%>
<%#= @company_name %>
<%#= @location %>
